input.custom{
    caret-color: red;
    font: 16px "Helvetica", "Arial", "sans-serif"
}

input + span {
    padding-right: 30px;
  }
  
  input:invalid+span:after {
    position: absolute; content: '✖';
    color:red;
    padding-left: 5px;
  }
  
  input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: green;
  }

  .basic-input,
  .validated-basic-input{
    width:fit-content;
    padding:0.5em;
    margin:0.5em;
  }