body {
    /* background: black;
    color: white; */
}

.header {
    /* border: 2px solid red; */
    text-align: center;
    margin: 0.5em;
}

.container {
    /* border: 2px solid black; */
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
    

}

main {
    /* border: 2px solid blue; */
    padding: 0.5em;
    margin: 0.5em;
}

.code-preview {
    /* border:2px solid orange; */
    padding: 0.5em;
    margin: 0.5em;
}

.main-container {
    width: 675px;
    margin: 0 auto;
}

aside {
    /* border: 2px solid green; */
    float: left top;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
   
   
}

aside>ul>li {
    padding: 0.5em;
    list-style-type: none;
    margin: 1em;
}

aside>ul>li>a {
    text-decoration: none;
    /* color: white; */
    padding: 0.5em;

}

footer {
    text-align: center;
    /* border: 2px solid magenta; */
    margin: 0.5em;
    padding: 0.25em;
}

.current-page {
    border: 2px solid black;
    border-radius:1em;

}

.component-main-display {

    padding: 0.5em;
    margin: 0.5em;

}

.component-container {
   display:flex;
   justify-content: space-between;
   flex-direction: column;
   
}

.component-description{
    letter-spacing: 1px;
    
}

.textColor-btn-container,
.button-sizes-container,
.squareEdge-bordered-btn-container,
.squareEdge-filled-btn-container,
.roundEdge-btn-container,
.button-style-container,
.icon-btn-sizes-container,
.icon-btn-container,
.badge-on-icon-container,
.text-badge-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: flex-start;
    
}
.textColor-btn-container>section,
.button-sizes-container>section,
.squareEdge-bordered-btn-container>section,
.squareEdge-filled-btn-container>section,
.roundEdge-btn-container>section,
.button-style-container>section,
.icon-btn-sizes-container>section,
.icon-btn-container>section,
.badge-on-icon-container>div{
    margin:0.5em 1em 0.5em 1em;
}

hr{
    margin:2em;
    font-weight: 800;
    
}