


.unordered-list{

}
.unordered-list>ul{
    
}


.unordered-list>ul>li{ 
    margin:1em;
   padding:0.5em 1em;
    list-style-type: none;
}

.stacked-list>ul>li{
    padding:0.5em 1em;
    list-style-type: none;
}